name: "AutoHotKey"
scopeName: ".source.atom-ahk"
fileTypes: [
  "ahk"
]
patterns: [
  # Block comments
  {
    begin: "/\\*"
    end: "\\*/"
    name: ".ahk.comment.block"
  }
  # Line comments
  {
    match: ";.*"
    name: ".ahk.comment.line"
  }
  # Functions
  {
    match: "([A-Z]([a-zA-Z_])+)(\\(.*?\\))"
    name: ".ahk.definition.function"
    captures: {
      1: {
        name: ".ahk.definition.function.body"
      }
      3: {
        name: ".ahk.definition.function.param"
      }
    }
  }
]
