name: "AutoHotKey"
scopeName: "atom-ahk"
fileTypes: [
  "ahk"
]
patterns: [
  # Block comments
  {
    begin: "/\\*"
    end: "\\*/"
    name: ".ahk.comment.block"
  }
  # Line comments
  {
    begin: ";",
    name: ".ahk.comment.line"
  }
]
