.syntax--atom-ahk {

  .syntax--comment {
    color: #7c7c7c;
    font-style: italic;
  }

  .syntax--keyword,
  .syntax--keyword.syntax--operator,
  .syntax--keyword.syntax--control {
    color: #a615bf;
  }

  .syntax--function {
    color: #1f70cc;
  }

  .syntax--directive {
    color: #398a34;
  }

  .syntax--variable.syntax--built-in {
    color: #1cbd2f;
  }

  .syntax--string {
    color: #d12308;
  }

  .syntax--number {
    color: #d49313;
  }

  .syntax--command {
    color: #0362fc;
  }

  .syntax--escape {
    .syntax--character {
      color: #d45f24;
    }
    .syntax--body {
      color: #d47d26;
    }
  }

}
